<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us </title>
</head>
<body>

    <div class="text-left">

        <div class="row">

            <div class="col-sm-3"></div>

            <div class="col-sm-6">

                <p><strong> About the platform </strong></p> 
    
                <p>
                    Blood Donation Management System is a project Where patient can apply for his/her needs of specific blood group and donor can donate for the needed patient.
                    And the Admin will decide based on the most needer patient and approve the request.
                </p>

                @* <p><strong> What's the purpose of the platform? </strong></p> 
                <p>
                    Encourage people to donate 
                </p> *@

            </div>

            <div class="col-sm-3"></div>

        </div>

    </div>

    @* <div>
        <h6 style="color: grey;">Our project is Blood Donation Management System, <br/> Where donor can donate for the needed patient.</br> Admin will decide based on the most needer patient and approve the request.  </h6>
    </div> *@
</body>
</html>