<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" />
    <title></title>
</head>
<body>
    <div class="text-center">

        <div>

            <div class="text-left">
                <img src="~/img/mainlogo.png" alt="Our Logo" style="margin-bottom: 20px; width: 400px;" >
            </div>

            <div>
                <p style="color: #ff5555;"><strong> About us </strong></p> 
    
                <p>
                    Blood Donation Management System is a project Where patient can apply for his/her needs of specific blood group and donor can donate for the needed patient.
                    And the Admin will decide based on the most needer patient and approve the request.
                </p>
            </div>

            <div>
                <div>
                    <h3 style="color: #ff5555;" class="text-left">Where you can Donate </h3>
                    <br/>
                </div>
                
                <div>
                    <partial name="_Map"></partial>
                </div>

            </div>

        </div>

    </div>
</body>
</html>