@model LoginPatient
<div>
    <h4>Login</h4>
    <form asp-action="PatientLogin" asp-controller="Donation" method="POST">

        <div>
            <input class="form-control" placeholder="Email" asp-for="LoginEmail" />
            <span asp-validation-for="LoginEmail" style="color: red;"></span><br/>
        </div>

        <div>
            <input class="form-control" placeholder="Password" asp-for="LoginPassword" />
            <span asp-validation-for="LoginPassword" style="color: red;"></span><br/>
        </div> 

        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    
    </form>


</div>